.Project {
    display: flex;
    flex-direction: column;

    height: 100%;
}

.ProjectBody {
    overflow: auto;

    height: 100%;

    margin: 10px 0;
}

.Project article {
    --padding: 0 10px;

    width: 100%;
}

.Project article p {
    padding: var(--padding);
}

.Project article figure {
    margin: 0;
    padding: var(--padding);
}

.Project article .borderless {
    --padding: 0;
}

.Project article img {
    width: 100%;

    margin: 0;
}